*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-size: 14px;
	line-height: 24px;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{

}  
a, a:hover{
	text-decoration: none !important;
}
/******************************** header-section coding start ********************************/
.header-section{
	width: 100%;
	padding: 30px 0px;
	background: #0a2345;
}
.header-section .img-a{
	height: 50px;
    width: 131px;
    cursor: pointer;
}
.header-section .bg-dark{
	background: transparent !important;
}
.header-section .navbar-toggler {
    color: #2a5ea4 !important;
    border: 1px solid #fff0 !important;
    margin-left: 415px;
}
/******************************** header-section coding end ********************************/

/************************************ banner-section CSS start ************************************/

.banner-section{
	width: 100%;
	padding: 0px 0px 200px;
	background: url(../images/header-bg.png) center center no-repeat;
	background-size: contain;
	background-color: #0a2345;
}
.banner-section .b-text{
	width: 100%;
	text-align: center; 
}
.banner-section .b-text h2{
	font-size: 40px;
	font-weight: 500px;
	color: #fff;
}
.banner-section .b-text h2 span{
	color: #2a5da3;
}
.banner-section .b-text p {
    font-size: 16px;
    line-height: 40px;
    color: #2a5da3;
    margin-bottom: 51px;
}
.b-text .baton{
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	background: transparent;
	border: 1px solid #153b6d;
	border-radius: 30px;
	padding: 10px 30px;
	transition: 0.8s;
}
.banner-section .b-text .baton:hover, .banner-section .b-text .baton:focus{
	color: #2a5da3;
	background: #fff;
	border: 1px solid #fff;
}

.header-bg .header-image{
	margin-top: 150px;
	width: 76%;
	margin-left: 23px;
	box-shadow: 0px 0px 37px 3px #0a0a0a59;
}
.header-bg .header-image-a{
	margin-top: 112px;
	width: 91%;
	box-shadow: 0px 0px 37px 3px #0a0a0a59;
}
/************************************ banner-section CSS end ************************************/

/************************************ headphone-section CSS start ************************************/
.headphone-section{
	width: 100%;
	padding: 80px 0px;
	background: #0a2244;
}
.headphone{
	width: 100%;
	margin-top: -160px;
}
.headphone {

}
.headphone-section .b-text{
	width: 100%;
	text-align: left;
	margin-top: -90px;
}
.headphone-section .b-text h2{
	font-size: 30px;
	font-weight: 500px;
	color: #fff;
	margin-left: 50px;
	margin-bottom: 20px;

}
.headphone-section .b-text h2 span{
	color: #2a5da3;
}
.headphone-section .b-text p{
	font-size: 16px;
    line-height: 40px;
    color: #435772;
    margin-bottom: 51px;
    margin-left: 50px;
}
.headphone-section .b-text .baton{
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	background: transparent;
	border: 1px solid #153b6d;
	border-radius: 30px;
	padding: 10px 30px;
	transition: 0.8s;
	margin-left: 50px;
}
.headphone-section .b-text .baton:hover, .headphone-section .b-text .baton:focus{
	color: #2a5da3;
	background: #fff;
	border: 1px solid #fff;
}
/************************************ headphone-section CSS****************************/

/***************************** feature-section CSS start ****************************/

.feature-section{
	width: 100%;
	padding: 30px 0px 0px;
	background: #0a2345;
}
.feature-section h2{
	font-size: 40px;
	font-weight: 500px;
	color: #fff;
	margin-bottom: 112px;
}
.feature-section h2 span{
	color: #2a5da3;
}
.feature-section .phone{
	width: 100px;
	height: 100px;
}
.feature-section .bg{
    width: 701px;
    margin-left: -193px;
    margin-top: -241px;
}

.feature-section .imgs {
    height: 40px;
    width: 40px;
}
.feature-section .medias{

}
.feature-section .medias h2{
 color: #fff;
 font-size: 25px;
 margin-top: 14px;
 margin-bottom: 14px;
}
.feature-section .medias p{
	font-size: 18px;
	line-height: 27px;
	color: #435772;
	margin-bottom: 51px;
}
/******************************* feature-section CSS end ***********************/

/************************** gallery-section CSS start **************************/
.gallery-section{
	width: 100%;
	padding: 30px 0px 30px;
	background: #0a2345;

}
.gallery-section .img{
	height: 40px;
    width: 40px;
}
.gallery-section .medias h2{
 color: #fff;
 font-size: 34px;
 margin-top: 14px;
 margin-bottom: 14px;
}
.gallery-section .medias p{
	font-size: 23px;
	line-height: 27px;
	color: #435772;
	margin-bottom: 51px;
}

.gallery-section .gallery {
    width: 661px;
    margin-top: -94px;
    margin-left: 74px;
}
/************************ gallery-section CSS end **************************/

/************************ client-section CSS start **********************/
.client-section{
	width: 100%;
	padding: 80px 0px;
	background: url(../images/client-bg.png) center top no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 300px 9px #040a1482;
	background-color: #0a2345;
}
.client-section .owl-theme .item{
	width: 100%;
}
.client-section .owl-theme .item h4{
    font-size: 26px;
    font-weight: 400;
    color: #66778e;
    font-style: italic;
    line-height: 32px;
    text-align: center;
}
.client-section .owl-theme .media{
	width: 100%;
	text-align: center;
}
.client-section .owl-theme .media .imgs{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin-top: 26px;
	margin-left: 300px;
}
.client-section .owl-theme .media-body{
	width: 100%;
	margin-left: -379px;
	margin-top: 46px;
}
.client-section .owl-theme .media-body h5{
	font-size: 19px;
	font-weight: 400;
	color: #b0cac7;
	display: inline-block;
}
.client-section .owl-theme .media-body p{
	font-size: 16px;
	font-weight: 500;
	color: #4058cc;
	text-transform: uppercase;
	display: inline-block;
}
/************************* client-section CSS end **************************/

/*mobile_app-section CSS start*/
.mobile_app-section{
	width: 100%;
	padding: 80px 0px 150px;
	background: #040a14;
}
.mobile_app-section .medias{
	text-align: center;
}
.mobile_app-section .medias h2{
   color: #fff;
   letter-spacing: 2px;
   font-size: 49px;
   margin-top: 14px;
   margin-bottom: 19px;
   margin-left: 95px;
}
.mobile_app-section .medias p{
	font-size: 21px;
	line-height: 53px;
	letter-spacing: 1px;
	color: #435772;
	margin-bottom: 51px;
	margin-left: 96px;
}
.mobile_app-section .app {
    margin-left: 25px;
    width: 100%;
    margin-bottom: 45px;
}
.mobile_app-section .baton{
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background: transparent;
	border: 1px solid #153b6d;
	border-radius: 30px;
	padding: 15px 40px;
	transition: 0.8s;
	margin-left: 77px;
}
.mobile_app-section .baton:hover, .mobile_app-section .baton:focus{
	color: #2a5da3;
	background: #fff;
	border: 1px solid #fff;
}
/*mobile_app-section CSS end*/
/*footer-section CSS start*/
.footer-section {
    width: 100%;
    padding: 10px 0px 20px;
    box-shadow: 12px 23px 159px 203px #020204;
    background: #010204;
}
.border-a{
	width: 100%;
	border-top: 1px solid #026fff4d;
}
.footer-section ul{
	 list-style: none;
	 /* float: left; */
	 margin-top: 13px;
	 text-align: left;
	 margin-left: -29px;
}
.footer-section ul li{
	display: inline-block;
 }
.footer-section ul li a{
	color: #026fff;
	font-size: 14px;
	font-weight: 700;
	display: block;
	padding: 6px 20px;
	text-decoration: none;
	transition: 0.8s;
	/* border: 1px solid #ffffff05; */
	border-radius: 30px;
}
.footer-section ul li a:hover, .footer-section ul li a:focus{
	color: #fff;

}
.footer-section p{
	color: #026fff;
	font-size: 11px;
	letter-spacing: 1px;
	margin-top: 23px;
	text-align: right;
	margin-right: -12px;
}
/*footer-section CSS end*/